<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) 2014-Today GRAP (http://www.grap.coop)
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_account_product_fiscal_classification_template"
        name="Fiscal Classifications Template"
        parent="account.menu_finance_configuration"
        action="action_account_product_fiscal_classification_template"
        sequence="15"/>

    <menuitem id="menu_account_product_fiscal_classification"
        name="Fiscal Classifications"
        parent="account.menu_finance_configuration"
        action="action_account_product_fiscal_classification"
        sequence="15"/>

    <menuitem parent="account.menu_finance_configuration"
        action="action_wizard_account_product_fiscal_classification"
        id="menu_wizard_account_product_fiscal_classification" />

</odoo>
