<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) 2014-Today GRAP (http://www.grap.coop)
    @author: Sylvain LE GAL (https://twitter.com/legalsylvain)
    License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp>
    <data>

    <record id="menu_account_product_fiscal_classification" model="ir.ui.menu">
        <field name="name">Fiscal Classifications</field>
        <field name="parent_id" ref="account.next_id_27"/>
        <field name="action" ref="action_account_product_fiscal_classification"/>
        <field name="sequence">15</field>
    </record>

        <menuitem id="menu_account_product_fiscal_classification"
            name="Fiscal Classifications"
            parent="account.next_id_27"
            action="action_account_product_fiscal_classification"
            sequence="15"/>

		<menuitem parent="account.account_template_taxes"
			action="action_wizard_account_product_fiscal_classification"
			id="menu_wizard_account_product_fiscal_classification" />

    </data>
</openerp>
